.button-M{
  margin-left: 5px;
  height: 35px;
}
#head{
  border: 3px solid rgb(224, 214, 214);
  padding: 5px;
  background-color: grey;
  color: beige;
}
.h60c76f8d982bd1394c781504{
  color: beige;
  background-color: black;
}